<mat-accordion *ngIf="planet">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Planet detail :
			</mat-panel-title>
			<mat-panel-description>
				id : {{ planet.url.id }}, {{ planet.name }} 
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div>Rotation period : {{ planet.rotation_period }}</div>
		<div>Orbital period : {{ planet.orbital_period }}</div>
		<div>Diameter : {{ planet.diameter }}</div>
		<div>Climate : {{ planet.climate }}</div>
		<div>Gravity : {{ planet.gravity }}</div>
		<div>Terrain : {{ planet.terrain }}</div>
		<div>Water : {{ planet.surface_water }}</div>
		<div>Population : {{ planet.population }}</div>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Residents :
			</mat-panel-title>
			<mat-panel-description>
				{{ planet.residents.length }}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<app-people-list [setData]="planet.residents"></app-people-list>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Films :
			</mat-panel-title>
			<mat-panel-description>
				{{ planet.films.length }}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<app-film-list [setData]="planet.films"></app-film-list>
	</mat-expansion-panel>

</mat-accordion>